.cookie-pop {
  background-color: #efefef;
  color: #555;
  right: 10px;
  position: fixed;
  text-align: left;
  bottom: 10px;
  width: 300px;
  z-index: 99999;
  font-size: 14px; line-height: 16px;
  vertical-align: top;
  padding: 15px;
  a { font-size: 14px; line-height: 16px; text-decoration: none; vertical-align: top; margin-top: 5px; color: #555 !important; border-bottom: 1px dotted #FFF; font-weight: 500; }
  a:hover { color: #555 !important; }
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: -16px 2px 31px -15px rgba(0,0,0,0.3);
  -moz-box-shadow: -16px 2px 31px -15px rgba(0,0,0,0.3);
  box-shadow: -16px 2px 31px -15px rgba(0,0,0,0.3);
}

.cookie-pop button {
  font-size: 14px; line-height: 16px;
  margin: 10px 0 0 0;
  padding: 5px; text-align: center;
  background: #A6CE38;
  display: block; width: 100%;
  color: #FFF; border: 0px solid #FFF;
}