.cookie-pop {
  background-color: #efefef;
  color: #555;
  position: fixed;
  text-align: left;
  z-index: 99999;
  font-size: 14px; line-height: 16px;
  vertical-align: top;
  padding: 15px;
  a { font-size: 14px; line-height: 16px; text-decoration: none; color: #555 !important; border-bottom: 1px dotted #FFF; font-weight: 500; }
  a:hover { color: #555 !important; }
}

.cookie-pop button {
  font-size: 14px; line-height: 16px;
  margin: 10px 0 0 0;
  padding: 5px;
  background: #A6CE38;
  color: #FFF; border: 0px solid #FFF;
}