.cookie-pop {
  left: 0px;
  bottom: 0px;
  width: 100%;
  text-align: center;
  padding: 5px 0;
}

.cookie-pop button {
  text-align: center;
  margin: 0 0 0 10px;
  display: inline-block; zoom: 1; *display: inline;
}