.inv-cookie-pop {
  position: static;
  left: 0px;
  top: 0px;
  width: 100%;
  text-align: center;
  padding: 5px 0;
  .button {
    text-align: center;
    margin: 0 0 0 10px;
    display: inline-block; zoom: 1; *display: inline;
  }
  .privacy-link {
    margin: 0 0 0 10px;
  }
}



