.inv-cookie-pop {
  right: 10px;
  bottom: 10px;
  width: 300px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: -16px 2px 31px -15px rgba(0,0,0,0.3);
  -moz-box-shadow: -16px 2px 31px -15px rgba(0,0,0,0.3);
  box-shadow: -16px 2px 31px -15px rgba(0,0,0,0.3);
  a { vertical-align: top; margin-top: 5px; }
  .button {
    text-align: center;
    display: block; width: 100%;
  }
  .privacy-link {
    display: block;
    margin: 5px 0 0 0;
  }
}

